@model About
@{
    ViewBag.Title = "Haqqımızda";
    ViewBag.MetaDescription = "Biz kimik? Haqqımızda daha ətraflı məlumat.";
}

@await Html.PartialAsync("_BreadCrumbPartialView")

<section id="about-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</section>