@model About
<section id="breadcrumb">
    <div class="page-name-wrapper" style="background-image: url(img/contact-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-name">
                        <h1>Haqqımızda</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="d-flex justify-content-center">
                        <li class="slash">
                            <a href="">Ana səhifə</a>
                        </li>
                        <li>
                            Haqqımızda
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="m-0">@Model.Content</p>
            </div>
        </div>
    </div>
</section>