@model Banner
<section id="banner_update" class="admin_crud">
    <div class="container mt-5">
        <div class="col-12 mb-3">
            <a class="btn d-block bg-secondary text-white" asp-action="index">Bannerlərə qayıt</a>
        </div>
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="col-6 text-center mb-3">
                <p class="mb-1"><strong>Köhnə şəkil</strong></p>
                <img src="~/img/@Model.ImageUrl" height="200" class="p-2 border" id="main_image" />
            </div>
            <div class="col-6 text-center mb-3">
                <p class="mb-1"><strong>Yeni şəkil</strong></p>
                <img height="200" class="p-2 border" id="second_image" />
            </div>
            <div class="col-12 mb-3" asp-validation-summary="ModelOnly"></div>
            <div class="col-6 mb-3">
                <label>Şəkil</label>
                <input asp-for="Image" class="w-100">
                <span asp-validation-for="Image" class="validation-span"></span>
            </div>
            <div class="col-12 text-center">
                <input type="submit" value="Yadda saxla" class="btn btn-success bg-success text-white" />
            </div>
        </form>
    </div>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}