@model ContactVM
<section id="breadcrumb">
    <div class="page-name-wrapper" style="background-image: url(img/contact-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-name">
                        <h1>Əlaqə</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="d-flex justify-content-center">
                        <li class="slash">
                            <a href="">Ana səhifə</a>
                        </li>
                        <li>
                            Əlaqə
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-page">
    <div class="container">
        <div class="row">
            <div class="order-2 order-md-1 col-md-6 col-lg-8">
                <div class="row m-0 heading">
                    <div class="col-12 p-0 text-left">
                        <h1>Mesajınızı gözləyirik</h1>
                    </div>
                </div>
                <form method="POST">
                    <div class="row">
                        <div class="col-12 message @ViewBag.color">
                            @ViewBag.message
                        </div>
                        <div class="col-6 col-lg-5">
                            <div class="row m-0">
                                <div class="col-12" asp-validation-summary="ModelOnly"></div>
                                <div class="col-12 p-0 mb-3">
                                    <span asp-validation-for="form.Fullname" class="validation-span"></span>
                                    <input asp-for="form.Fullname" placeholder="Adınız, Soyadınız">
                                </div>
                                <div class="col-12 p-0 mb-3">
                                    <span asp-validation-for="form.PhoneNumber" class="validation-span"></span>
                                    <input asp-for="form.PhoneNumber" placeholder="Əlaqə nömrəniz">
                                </div>
                                <div class="col-12 p-0">
                                    <span asp-validation-for="form.Email" class="validation-span"></span>
                                    <input asp-for="form.Email" placeholder="E-mailiniz">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-7">
                            <span asp-validation-for="form.Message" class="validation-span"></span>
                            <textarea asp-for="form.Message" placeholder="Mesajınız"></textarea>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="submit" value="Göndər">
                        </div>
                    </div>
                </form>
            </div>
            <div class="order-1 order-md-2 col-md-6 col-lg-4 pl-xl-5 mb-4 mb-md-0">
                <div class="row m-0 heading">
                    <div class="col-12 p-0 text-left">
                        <h1>Əlaqə məlumatlarımız</h1>
                    </div>
                </div>
                <div class="infos">
                    <div class="info mb-md-3">
                        <i class="fas fa-phone-volume"></i>
                        <a href="">(+99477) 520 20 12</a>,
                        <a href="">(+99477) 520 20 12</a>
                    </div>
                    <div class="info mail">
                        <i class="fas fa-paper-plane"></i>
                        <a href="">elmarni@code.edu.az</a>,
                        <a href="">elmarni@code.edu.az</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}