@{
    var imageUrl = ViewData["imageUrl"] as string;
    var name = ViewData["name"] as string;
}

<section id="breadcrumb">
    <div class="page-name-wrapper" style="background-image: url(img/@imageUrl);">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-name">
                        <h1>@name</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="d-flex justify-content-center">
                        <li class="slash">
                            <a href="/">Ana səhifə</a>
                        </li>
                        <li>
                            @name
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>