<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13FH6SJ30Y"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-13FH6SJ30Y');</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/lib/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/css/owl.theme.default.min.css">

    <!-- Font awasome -->
    <script src="https://kit.fontawesome.com/c8f4343e87.js" crossorigin="anonymous"></script>

    <!-- TT Firs font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,600&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/lib/css/fancybox.css" />

    <!-- Mine css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <title>Egmedia - @ViewBag.Title</title>
    <meta name="keywords" content="Veb dizayn, Veb saytların hazırlanması, Web dizayn, Web saytların hazırlanması, E-ticarət, Responsive veb dizayn, SEO optimizasiyası, Mobil tətbiq, Qrafik dizayn xidmətləri, Onlayn reklam, Texniki dəstək, Veb sayt" />
    <meta name="description" content="@ViewBag.MetaDescription" />
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-8 logo">
                    <a asp-controller="home">
                        <img src="~/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-4">
                    <div class="menu-bar ">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="menu">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <ul>
                            <li class="d-md-none">
                                <a asp-controller="home">
                                    <small class="nav-desc">ƏVVƏLƏ QAYIDAQ</small>
                                    <span class="name">Ana Səhifə</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="top-left">
                                <a asp-controller="about">
                                    <small class="nav-desc">İLK ÖNCƏ BİZİ TANIYIN</small>
                                    <span class="name">Haqqımızda</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="top-right">
                                <a asp-controller="services" asp-action="index">
                                    <small class="nav-desc">BİZ NƏLƏRİ EDİRİK ?</small>
                                    <span class="name">Xidmətlər</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="bottom-left">
                                <a asp-controller="portfolio">
                                    <small class="nav-desc">BİZ NƏLƏRİ ETMİŞİK ?</small>
                                    <span class="name">Portfolio</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="bottom-right">
                                <a asp-controller="contact">
                                    <small class="nav-desc">SUALINIZ VAR ?</small>
                                    <span class="name">Əlaqə</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="center d-none d-md-block">
                                <a asp-controller="home">
                                    <small class="nav-desc">ƏVVƏLƏ QAYIDAQ</small>
                                    <span class="name">Ana Səhifə</span>
                                    <span class="nav-line nav-line-1"></span>
                                    <span class="nav-line nav-line-2"></span>
                                    <span class="nav-line nav-line-3"></span>
                                    <span class="nav-line nav-line-4"></span>
                                </a>
                            </li>
                            <li class="clear m-0"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="preloader" id="loading">
        <div class="preloader-body">
            <div id="loading-center-object">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row top align-items-center">
                <div class="col-6 col-lg-3 order-1 logo">
                    <a asp-controller="home">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-lg-6 menu order-3 order-lg-2 mt-sm-3 mt-lg-0">
                    <ul class="p-0 m-0 d-flex flex-wrap justify-content-center">
                        <li><a asp-controller="about">HAQQIMIZDA</a></li>
                        <li><a asp-controller="services">XİDMƏTLƏR</a></li>
                        <li><a asp-controller="portfolio">PORTFOLİO</a></li>
                        <li><a asp-controller="contact">ƏLAQƏ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 order-2 order-lg-3 social-icons">
                    <ul class="p-0 m-0 d-flex flex-wrap justify-content-center justify-content-sm-end w-100">
                        <li class="d-none">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/egmedia.az?igshid=MzRlODBiNWFlZA==" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://wa.me/994558090669" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bottom">
                <div class="col-lg-2 left text-center text-lg-left mb-3 mb-lg-0">
                    <span class="orange">E</span><span class="purple">G</span>media © 2023.
                </div>
                <div class="col-lg-10 right contact-infos">
                    <ul class="m-0 p-0 d-flex justify-content-lg-end justify-content-center w-100 flex-wrap">
                        <li>
                            Əlaqə nömrəsi: <a href="tel: +994558090669">(+99455) 809 06 69</a>
                        </li>
                        <li>
                            E-mail: <a href="mailto:info@egmedia.az">info@egmedia.az</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/isotope.pkgd.min.js"></script>
    <script src="~/lib/js/fancybox.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>