<section id="projects_and_categories_admin">
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <a class="btn d-block bg-secondary text-white" asp-action="categories">Kateqoriyalar</a>
            </div>
            <div class="col-6">
                <a class="btn d-block bg-success text-white" asp-action="projects">Layihələr</a>
            </div>
        </div>
    </div>
</section>